@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

html {
    background-color: #424242;
    font: 300 1em 'Fira Sans', sans-serif;
}



#topheader {
    color: wheat;
    font-size: 100px;
    text-shadow: black 8px 2px;
    text-align: center;
}

/*
 * The following is for the rise buttons
 */

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.offset {
    box-shadow:
            0.3em 0.3em 0 0 var(--color),
            inset 0.3em 0.3em 0 0 var(--color);

    &:hover,
    &:focus {
        box-shadow:
                0 0 0 0 var(--hover),
                inset 6em 3.5em 0 0 var(--hover);
    }
}

button {
    color: var(--color);
    transition: 0.25s;

    &:hover,
    &:focus {
        border-color: var(--hover);
        color: #fff;
    }
}

button {
    background: steelblue;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

button:hover {
    color: #c26a2b
}

h1 { font-weight: 400; }

code {
    color: #e4cb58;
    font: inherit;
}

/*
 * Dropdowns!
 */

.menu {
    display: block;
}

.menu > li > a {
    color: #ac1818;
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.menu ul {
    background: #1b5b5c;
    height: 250px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    top: 35px;
    width: 200px;
}

.menu li:hover ul {
    height: 150px;
    opacity: 1;
    transform: translateY(30px);
}

.menu ul a {
    color: #000;
    display: block;
    padding: 5px 20px;
}


/* Button positions! */

.resourcesbutton {
    margin: auto; 
    position: absolute;
    right: 500px;
    bottom: 320px;
    height: 0;
    width: 0;
}

.schedulebutton {
    position: absolute;
    left: 300px;
    margin: auto;
}

.aboutbutton {
    margin: auto; 
    position:absolute;
    right:6px;
    left:150px;
    width:0;
    height: 0
}

.joinbutton {
    margin: auto; 
    position:absolute;
    right:350px;
    left:0;
    width:0;
    height: 0
}